<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link href="{{ app.request.basepath }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ app.url_generator.generate('homepage') }}">
            {{ wiki_title }}
          </a>
        </div>

        {{ render(app.request.baseUrl ~ '/_menu') }}
      </div>
    </nav>

    <div id="title">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>

    {% block content '' %}
  </body>
</html>
